@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="lead">
        <img class="logo" src="~/Content/Images/medbot-logo.png"/></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Caretaker in control</h2>
        <p>
            Raspberry MedBot allows you to stay connected with your seniors and medical patients as they take care of themselves and follow treatment regimens.
            Manage the care for all your loved ones and be confident that they're staying happy and healthy wherever you are.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Go to the patients >>", "Index", "Patients")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Flexible secheduling</h2>
        <p>
            Whether your patient needs to schedule medication, physical therapy exercises, meals, or other activities, Raspberry MedBot works with both of you
            to empower healthy lifestyles and grant peace of mind.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Go to the activities >>", "Index", "Activities")</a></p>
    </div>
</div>