@model RaspberryMedbot.Models.Activity

@{
    ViewBag.Title = "Yes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        YES
    </div>
</body>
</html>
