body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

.jumbotron {
    margin-top: 20px;
    margin-bottom: -10px;
    padding: 20px;
    border: 6px solid #FF0303;
    background-color: white;
}

h2 {
    font-family: 'Exo 2', sans-serif;
}

.navbar-header {
    font-family: 'Exo 2', sans-serif;
}

.navbar {
    background-color: darkslategrey;
}

.table-success {
    background-color: lightgreen;
}

.table-danger {
    background-color: palevioletred;
}